---

---
<section>
  <p>
    Soy Desarrollador de software con experiencia como Desarrollador Front-end,
    desarrollando diferentes aplicativos para el sector bancario y ambiental
    bajo metodologías de trabajo ágil. Con conocimientos en herramientas y
    lenguajes como: ReactJs, React Native, JavaScript, Html5, Css, NodeJs,
    MongoDB, Bonitasoft y Python. Caracterizado por poseer habilidades de
    trabajo en equipo, liderazgo, orientación al detalle, orientación a los
    objetivos, comunicación y adaptabilidad.
  </p>
</section>

<style scoped></style>
