---
import ItemsProjects from "./itemsProjects.astro";

const mockData = [
  {
    id: 0,
    title: "Delivery App with React Native",
    desc: "An app developed for testing purposes with React Native, Socket.io and Expo.",
    desc2:
      "(Cross platform development for IOS and Android using Clean Architecture + MVVM).",
    techs: [
      { url: "assets/typescript", alt: "Typescript" },
      { url: "assets/react", alt: "React" },
      { url: "assets/expo", alt: "Expo" },
      { url: "assets/socket", alt: "Socket" },
    ],
    code: "https://github.com/legin098/RN-DeliveryApp",
    liveView: "",
  },
  {
    id: 1,
    title: "Delivery App with Flutter",
    desc: "An app developed for testing purposes with Flutter and Socket.io.",
    desc2: "(Cross platform development for IOS and Android).",
    techs: [
      { url: "assets/dart", alt: "Dart" },
      { url: "assets/flutter", alt: "Flutter" },
      { url: "assets/socket", alt: "Socket" },
    ],
    code: "https://github.com/legin098/Flutter-DeliveryApp",
    liveView: "",
  },
  {
    id: 2,
    title: "Back-end Delivery",
    desc: "A rest service developed for testing purposes with Express, Firebase Storage, Socket.io and MySql.",
    techs: [
      { url: "assets/javascript", alt: "Javascript" },
      { url: "assets/firebase", alt: "Firebase" },
      { url: "assets/mysql", alt: "Mysql" }, 
      { url: "assets/socket", alt: "Socket" },
    ],
    code: "https://github.com/legin098/Backend-Delivery",
    liveView: "",
  },
  {
    id: 3,
    title: "Fast Project Management with ReactJs",
    desc: "An application web developed for testing purposes with ReactJs, TailwindCss, Socket.io and ContextApi.",
    techs: [
      { url: "assets/javascript", alt: "Javascript" },
      { url: "assets/react", alt: "React" },
      { url: "assets/tailwindcss", alt: "Tailwindcss" },
      { url: "assets/socket", alt: "Socket" },
    ],
    code: "https://github.com/legin098/FastProjectManagement_frontend",
    liveView: "",
  },
  {
    id: 4,
    title: "Back-end Fast Project Management",
    desc: "A rest service developed for testing purposes with Express, Mailtrap, Socket.io and MongoDb.",
    techs: [
      { url: "assets/javascript", alt: "Javascript" },
      { url: "assets/mongo", alt: "Mongodb" },
      { url: "assets/socket", alt: "Socket" },
    ],
    code: "https://github.com/legin098/FastProjectManagement_backend",
    liveView: "",
  },
];
---

<section class="projects">
  <h2>📚 Projects</h2>
  <section>
    {mockData.map((project) => <ItemsProjects {...project} />)}
  </section>
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects h2 {
    width: 100%;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .projects section {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    .projects section {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 2rem;
    }

    .projects h2 {
      padding: 1.5rem;
    }
  }

  @media screen and (min-width: 920px) {
    .projects h2 {
      padding: 0 2rem;
    }
  }
</style>
