---
const { tecnologies } = Astro.props;
---

<div>
  {
    tecnologies.map((tecnologie) => (
      <picture>
        <img src={tecnologie.url} width="25" height="25" alt={tecnologie.alt} />
      </picture>
    ))
  }
</div>
