---
interface Tecnologie {
  url: string;
  alt: string;
}

interface Props {
  tecnologies: Array<Tecnologie>;
}

const { tecnologies } = Astro.props;

---

<div class="tecnologies">
  {
    tecnologies.map((tecnologie) => (
      <picture>
        <img src={`/src/${tecnologie.url}.svg`} alt={tecnologie.alt} />
      </picture>
    ))
  }
</div>

<style>
  .tecnologies {
    margin-bottom: 0.85rem;
    display: flex;
    justify-content: flex-start;
  }

  .tecnologies picture {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
</style>
